<form [formGroup]="registerForm" class="form-container">
  <div class="container box">
    <input type="text" class="form-control" id="firstName" value="{{registerForm.firstName}}" placeholder="First Name" formControlName="firstName">
    <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
    <select type="text" class="form-control" id="gender" placeholder="Gender" formControlName="gender">
      <option value="" selected>Gender</option>
      <option value="female">Female</option>
      <option value="male">Male</option>
    </select>
    <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number"  formControlName="phoneNumber">
    <input type="number" class="form-control" id="age" placeholder="Age"  formControlName="age">
    <input type="text" class="form-control" id="city" placeholder="City" formControlName="city">
    <input type="text" class="form-control" id="country" placeholder="Country" formControlName="country">
    <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email" [ngClass]="{'isinvalid': registerForm.get('email').invalid}">
    <input type="text" class="form-control" id="password" placeholder="Password" formControlName="password" >
    <select type="text" class="form-control m-20" id="role" placeholder="Role" formControlName="role">
      <option value="" selected>Role</option>
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select>
    <button *ngIf="(getEmailUser == undefined || getEmailUser == null) && (addUser == undefined || addUser == null)" type="button" class="btn btn-secondary btn-lg text-center" (click)="register()" [disabled]="!registerForm.valid">Register</button>
    <button *ngIf="(getEmailUser != undefined || getEmailUser != null) && (addUser == undefined || addUser == null)" type="button" class="btn btn-secondary btn-lg text-center" (click)="update()" [disabled]="!registerForm.valid">Update</button>
    <button *ngIf="(getEmailUser == undefined || getEmailUser == null) && (addUser != undefined || addUser != null)" type="button" class="btn btn-secondary btn-lg text-center" (click)="addUserDetails()" [disabled]="!registerForm.valid">Add</button>
  </div>
</form>